$primary-b900: #4C68D5;
$primary-b800: #6174D9;
$primary-b700: #7381DD;
$primary-b600: #858EE1;
$primary-b500: #959CE5;
$primary-b400: #A5A9E9;
$primary-b300: #B4B7ED;
$primary-b200: #C3C5F1;
$primary-b100: #E1E2F8;
$neutral-black-b900: #0C1024;
$neutral-black-b800: #27364B;
$neutral-black-b700: #39465A;
$neutral-black-b600: #4B5669;
$neutral-black-b500: #5D6778;
$neutral-black-b400: #707988;
$neutral-black-b300: #838B98;
$neutral-black-b200: #979DA9;
$neutral-black-b100: #ABB0B9;
$neutral-white-w900: #FFFFFF;
$neutral-white-w400: #E2E8F0;
$neutral-white-w300: #ECF0F5;
$neutral-white-w200: #F1F4F9;
$neutral-white-w100: #FAFBFF;
$semantic-green-g900: #036B30;
$semantic-green-g800: #2A7841;
$semantic-green-g700: #428553;
$semantic-green-g600: #589264;
$semantic-green-g500: #6DA076;
$semantic-green-g400: #81AD89;
$semantic-green-g300: #96BA9C;
$semantic-green-g200: #BFD6C2;
$semantic-green-g100: #D4E3D6;
$semantic-red-r900: #B81616;
$semantic-red-r800: #C23729;
$semantic-red-r700: #CC4F3C;
$semantic-red-r600: #D46450;
$semantic-red-r500: #DD7864;
$semantic-red-r400: #E48B78;
$semantic-red-r300: #EB9F8E;
$semantic-red-r200: #F5C5BA;
$semantic-red-r100: #FAD8D0;
$semantic-yellow-y900: #E4A704;
$semantic-yellow-y800: #E8AF2F;
$semantic-yellow-y700: #EDB648;
$semantic-yellow-y600: #F0BE5E;
$semantic-yellow-y500: #F4C673;
$semantic-yellow-y400: #F7CE87;
$semantic-yellow-y300: #F9D69B;
$semantic-yellow-y200: #FCDEAF;
$semantic-yellow-y100: #FEEED7;
