.endorsement-card {
  .q-card__section--vert {
    padding: 0px;
  }
  border-radius: 8px;

  .topic {
    padding-top: 10px;
    padding-bottom: 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 20px;
    background-color: $secondary;
    color: white;
  }

  &.expandable.expanded {
    height: 100%;
    .description {
      height: 100%;
    }
    .arrow-down {
      display: none;
    }
    .arrow-up {
      display: initial;
    }
  }

  .arrow-down {
    display: initial;
  }
  .arrow-up {
    display: none;
  }
}
