.endorsement-path-card {
  width: 230px;
  height: 300px;
  padding: 0px;
  border-radius: 8px;
  .q-card__section--vert {
    padding: 0px;
  }
  &.large {
    width: 460px;
    height: 500px;
  }
}

.endorsement-path-card-topic {
  font-weight: 100;
  background-color: $secondary;
  padding-top: 4%;
  padding-bottom: 10%;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 60px;
  .large & {
    height: 175px;
  }
}

.endorsement-path-card-description {
  height: 125px;
}

.path-wrapper {
  margin-top: 30px;
}

.path {
  height: auto;
  min-width: 160px;

  padding: 8px;
  .path-el-content {
    display: inline;
  }

  .path-el:not(:last-child) {
    margin-right: 27px;
    position: relative;
  }

  .path-el:not(:last-child):after {
    position: absolute;
    content: '';
    left: 33px;
    top: 0%;
    width: 25px;
    border-bottom: 2px solid black;
  }
}
