.tip {
  background-color: aqua;
  padding: 0px;
}
.anon {
  background-color: $tertiary;
  color: darkslategrey;
  font-weight: bold;
}
.icon {
  border: 1px solid;
  border-radius: 50%;
}

.avatar {
  margin-bottom: 2%;
  margin-top: -1.95rem;
  .tiny & {
    width: 32px;
    height: 32px;
    font-size: 80px;
  }
  .mini & {
    width: 40px;
    height: 40px;
    font-size: 80px;
  }
  .small & {
    width: 40px;
    height: 40px;
    font-size: 96px;
  }

  .medium & {
    width: 60px;
    height: 60px;
    font-size: 120px;
  }
  .large & {
    height: 125px;
    width: 125px;
    margin-top: -75px;
  }
}
